In [5]:
import sqlite3

In [6]:
#Connect to an SQLite database
connection = sqlite3.connect('eaxmple.db')
connection

In [7]:
#Defining a cursor which helps to do iteration in the DB.
cursor = connection.cursor()

In [10]:
#Create a table
# cursor.execute('''
# Create Table If Not Exists employees(
#     id Int Primary Key AUTOINCREMENT,
#     name Varchar Not Null,
#     age Integer,
#     department text
#     )
# ''')

# #Commit the changes
# connection.commit()

In [ ]:
#Insert Data in sqlite table
cursor.execute('''
Insert Into employees(name, age, department)
               values('Aman', 27, 'Data Scientist')
# '''
)

cursor.execute('''
Insert Into employees(name, age, department)
               values('ABC', 35, 'Java Developer')
'''
)

cursor.execute('''
Insert Into employees(name, age, department)
               values('XYZ', 41, 'Android developer')
'''
)

#Commit the changes 
connection.commit()

In [ ]:
# Query data from the table
cursor.execute('select * from employees')
rows= cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(None, 'Aman', 27, 'Data Scientist')
(None, 'ABC', 35, 'Java Developer')
(None, 'XYZ', 41, 'Android developer')

In [ ]:
#Delete all the rows from the table

# cursor.execute("DELETE FROM employees")
# connection.commit()

In [ ]:
#Update the data in the table
cursor.execute('''
UPDATE employees 
Set age = 19 
Where name = 'Aman'    
''')

connection.commit()

In [ ]:
# Query data from the table
cursor.execute('select * from employees')
rows= cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(None, 'Aman', 19, 'Data Scientist')
(None, 'ABC', 35, 'Java Developer')
(None, 'XYZ', 41, 'Android developer')

In [ ]:
#Delete a single line form the data
cursor.execute('''
Delete from employees
where name = 'XYZ' 

''')

In [ ]:
# Query data from the table
cursor.execute('select * from employees')
rows= cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(None, 'Aman', 19, 'Data Scientist')
(None, 'ABC', 35, 'Java Developer')

***Project***

In [ ]:
#Working with sqlite3
import sqlite3

# cursor.execute("DROP TABLE IF EXISTS sales") -> used this because have excuted multiple times

#1. Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor= connection.cursor()

#2. Create a table for the sales data
cursor.execute(
'''
CREATE TABLE If not Exists sales (
    id Integer Primary Key,
    date text not null,
    product text not null,
    sales Int,
    region text
)
'''
)

#3. Inserting some data
sales_data= [
    ('2025-01-01', 'p1', 100, 'North'),
    ('2025-01-02', 'p2', 400, 'South'),
    ('2025-01-03', 'p3', 600, 'East'),
    ('2025-01-04', 'p4', 200, 'North'),
    ('2025-01-05', 'p5', 700, 'West')

]

#4. Inserting into the table (2 WAYS)

# 1st Way -> (One Entry At a time)
# cursor.execute('''
# Insert Into employees(name, age, department)
#                values('XYZ', 41, 'Android developer')
# '''
# )

# 2nd Way -> (Bulk Entry at once)
cursor.executemany('''
Insert into sales(date, product, sales, region)
                   values(?,?,?,?)
''', sales_data)

#5. Commiting all the changes
connection.commit()

In [ ]:
#6. Query data from the table
cursor.execute('select * from sales')
rows= cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2025-01-01', 'p1', 100, 'North')
(2, '2025-01-02', 'p2', 400, 'South')
(3, '2025-01-03', 'p3', 600, 'East')
(4, '2025-01-04', 'p4', 200, 'North')
(5, '2025-01-05', 'p5', 700, 'West')

In [ ]:
#7. Closing the connection form the database
cursor.close()

In [ ]:
#Checking for the closure of the database

# cursor.execute('select * from sales')
# rows= cursor.fetchall()

# # Print the queried data
# for row in rows:
#     print(row)