# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [1]:
import pandas as pd
import numpy as np

In [7]:
## Assignment 1: DataFrame Creation and Indexing

# 1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. 
# Set the index to be the first column.

df1 = pd.DataFrame(np.random.randint(1,11, (6,4)), columns= ['A', 'B', 'C', 'D'])
print("",df1)

df1.set_index("A", inplace=True)
print(df1)

     A   B   C  D
0  10   3   7  3
1   4  10   7  4
2   4   8  10  7
3   9   7   7  9
4   5   5   5  4
5   8   9   8  4
     B   C  D
A
10   3   7  3
4   10   7  4
4    8  10  7
9    7   7  9
5    5   5  4
8    9   8  4

In [16]:
# 2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. 
# Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.
df2 = pd.DataFrame(np.random.randint(1, 21, size=(3,3)),columns= ['A', 'B', 'C'], index=["X", "Y", "Z"])
print("DataFrame: \n")
print(df2)

element = df2.at["Y", "B"]
print("Element at row Y and column B: ",element)

DataFrame:

    A   B   C
X   2   1   5
Y  13  17  10
Z   2  12   8
Element at row Y and column B:  17

In [21]:
### Assignment 2: DataFrame Operations

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
# Add a new column that is the product of the first two columns.

df3= pd.DataFrame(np.random.randint(1,21, (5,3)), columns= ["A", "B", "C"])
print("Original DataFrame: \n", df3)

df3["D"] = df3["A"] * df3["B"] 
print("DataFrame With 'D' Column Addded: \n",df3)

Original DataFrame:
     A   B   C
0  14   8   4
1   4  18   6
2  19  14   9
3  13   8   9
4  14   7  10
DataFrame With 'D' Column Addded:
     A   B   C    D
0  14   8   4  112
1   4  18   6   72
2  19  14   9  266
3  13   8   9  104
4  14   7  10   98

In [ ]:
# 2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. 

df4 = pd.DataFrame(np.random.randint(1,21, (4,3)), columns= ["A", "B", "C"])
print("Origianl DataFrame: \n",df4)

# Compute the row-wise and column-wise sum.
row_Sum = df4.sum(axis=1)
print("Sum Of Rows: \n", row_Sum)

col_sum = df4.sum(axis=0)
print("Column Sum: \n", col_sum)

Origianl DataFrame:
     A   B   C
0   9   7   5
1  18   1  17
2  11  16   4
3  15   3   6
Sum Of Rows:
 0    21
1    36
2    31
3    24
dtype: int64
Column Sum:
 A    53
B    27
C    32
dtype: int64

In [ ]:
### Assignment 3: Data Cleaning

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
df5 = pd.DataFrame(np.random.randint(1,21,(5,3)), columns= ["A", "B", "C"])
print("Original DataFrame: \n", df5)

# Introduce some NaN values. 
df5.iloc[0,0] = np.nan
df5.iloc[1,1] = np.nan
df5.iloc[2,2] = np.nan
print("DatFrame when NAN introduced: \n", df5)


# Fill the NaN values with the mean of the respective columns.
df5.fillna(df5.mean(), inplace= True)
print("DataFrame NAN values Filled: \n",df5)

Original DataFrame:
     A   B   C
0  13  17  18
1   5  12  15
2   6   2  10
3   3   6  11
4   7   2  20
DatFrame when NAN introduced:
      A     B     C
0  NaN  17.0  18.0
1  5.0   NaN  15.0
2  6.0   2.0   NaN
3  3.0   6.0  11.0
4  7.0   2.0  20.0
DataFrame NAN values Filled:
       A      B     C
0  5.25  17.00  18.0
1  5.00   6.75  15.0
2  6.00   2.00  16.0
3  3.00   6.00  11.0
4  7.00   2.00  20.0

In [50]:
# 2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. 

df6 = pd.DataFrame(np.random.randint(1,21,(6,4)), columns= ["A", "B", "C", "D"])
print("Original DataFrame: \n", df6)

# Introduce some NaN values. 
df6.iloc[0,2] = np.nan
df6.iloc[3,1] = np.nan
print("DataFrame With Nan: \n",df6)

# Drop the rows with any NaN values.
df6.dropna(inplace=True)
print("DataFrame When NAN Rows Dropped: \n",df6)

Original DataFrame:
     A   B   C   D
0  14  16  11  15
1  11  12   1  16
2  14  15  13  14
3   1   2  19  17
4  19  18  18   6
5   7  12  17   2
DataFrame With Nan:
     A     B     C   D
0  14  16.0   NaN  15
1  11  12.0   1.0  16
2  14  15.0  13.0  14
3   1   NaN  19.0  17
4  19  18.0  18.0   6
5   7  12.0  17.0   2
DataFrame When NAN Rows Dropped:
     A     B     C   D
1  11  12.0   1.0  16
2  14  15.0  13.0  14
4  19  18.0  18.0   6
5   7  12.0  17.0   2

In [17]:
### Assignment 4: Data Aggregation

# 1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. 
# Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. 

df7 = pd.DataFrame({"Category": np.random.choice(["A", "B", "C"], size= 10), "Value": np.random.randint(1, 21, size= 10)})
print(df7)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
grouped_df = df7.groupby("Category")["Value"].agg(["sum", "mean"])
print(grouped_df)

  Category  Value
0        C     15
1        B      8
2        C      9
3        B     15
4        A      2
5        A     17
6        A     11
7        B     19
8        A     12
9        B     20
          sum  mean
Category
A          42  10.5
B          62  15.5
C          24  12.0

In [ ]:
# 2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. 
# Fill the DataFrame with random data.
df8 = pd.DataFrame({"Product": np.random.choice(["product1", "Product2", "Product3"], size= 10), "Category": np.random.choice(["A", "B", "C"], size=10), "Sales": np.random.randint(1,100, size= 10)})
print(df8)

#  Group the DataFrame by 'Category' and compute the total sales for each category.
g_df= df8.groupby("Category")["Sales"].agg("sum")
# print(df8.groupby("Category")["Sales"].sum())
print(g_df)

    Product Category  Sales
0  Product2        C     63
1  product1        B     77
2  product1        B     28
3  Product2        A     54
4  Product3        A     43
5  product1        C     69
6  product1        C     45
7  Product2        C     88
8  product1        A     60
9  Product3        C     32
Category
A    157
B    105
C    297
Name: Sales, dtype: int32
Category
A    157
B    105
C    297
Name: Sales, dtype: int32

In [33]:
### Assignment 5: Merging DataFrames

# 1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
df9 = pd.DataFrame({"Key": ["A", "B", "C", "D"], "value1": np.random.randint(1, 100, size=4)})
print("DataFrame 1: \n", df9)
df10 = pd.DataFrame({"Key": ["A", "B", "C", "D"], "value2": np.random.randint(1, 100, size=4)})
print("DataFrame 2: \n", df10)

merge_df = pd.merge(df9, df10, on= "Key")
print("Merged DataFrame: \n",merge_df)

DataFrame 1:
   Key  value1
0   A      35
1   B      88
2   C      94
3   D      56
DataFrame 2:
   Key  value2
0   A       9
1   B      50
2   C      73
3   D      44
Merged DataFrame:
   Key  value1  value2
0   A      35       9
1   B      88      50
2   C      94      73
3   D      56      44

In [ ]:
# 2. Create two Pandas DataFrames with different columns. 
import numpy as np
import pandas as pd
df11 = pd.DataFrame({"A": np.random.randint(1,101, size= 5), "B": np.random.randint(1,101, size= 5)})
print("1st DataFrame: \n",df11)

df12 = pd.DataFrame({"C": np.random.randint(1,101, size= 5), "D": np.random.randint(1,101, size= 5)})
print("2nd DataFrame: \n", df12)

# Concatenate the DataFrames along the rows and along the columns.
concatenate_row = pd.concat([df11, df12], axis= 0)
print("Concatenate DataFrame(Rows): \n", concatenate_row)

concatenate_col = pd.concat([df11, df12], axis= 1)
print("Concatenate DataFrame(Columns): \n", concatenate_col)

1st DataFrame:
     A    B
0  30  100
1  44   57
2  67   75
3  19   15
4  21    5
2nd DataFrame:
     C   D
0  69  86
1  22  34
2  28  67
3  19  62
4  45  27
Concatenate DataFrame(Rows):
       A      B     C     D
0  30.0  100.0   NaN   NaN
1  44.0   57.0   NaN   NaN
2  67.0   75.0   NaN   NaN
3  19.0   15.0   NaN   NaN
4  21.0    5.0   NaN   NaN
0   NaN    NaN  69.0  86.0
1   NaN    NaN  22.0  34.0
2   NaN    NaN  28.0  67.0
3   NaN    NaN  19.0  62.0
4   NaN    NaN  45.0  27.0
Concatenate DataFrame(Columns):
     A    B   C   D
0  30  100  69  86
1  44   57  22  34
2  67   75  28  67
3  19   15  19  62
4  21    5  45  27

In [8]:
### Assignment 6: Time Series Analysis
import pandas as pd
import numpy as np
# 1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. 
datetime_DF = pd.date_range(start="2025-01-01", end="2025-12-31", freq="D")
df13 = pd.DataFrame(datetime_DF, columns=["Date"])
df13["Data"] = np.random.randint(1,101, size=(len(datetime_DF)))
df13.set_index("Date", inplace=True)
print(df13)

# Resample the DataFrame to compute the monthly mean of the values.
Mean_df = df13.resample("M").mean()
print(Mean_df)

            Data
Date
2025-01-01    20
2025-01-02    85
2025-01-03    41
2025-01-04    43
2025-01-05    50
...          ...
2025-12-27    83
2025-12-28    18
2025-12-29    62
2025-12-30    11
2025-12-31    52

[365 rows x 1 columns]
                 Data
Date
2025-01-31  54.645161
2025-02-28  53.678571
2025-03-31  58.483871
2025-04-30  47.466667
2025-05-31  46.258065
2025-06-30  40.133333
2025-07-31  48.645161
2025-08-31  54.741935
2025-09-30  58.566667
2025-10-31  45.838710
2025-11-30  58.566667
2025-12-31  43.258065

C:\Users\hp\AppData\Local\Temp\ipykernel_13928\163393941.py:12: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  Mean_df = df13.resample("M").mean()

In [13]:
# 2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. 

datetime_DF1 = pd.date_range(start="2021-01-01", end="2021-12-31", freq="D")
df14 = pd.DataFrame(datetime_DF1, columns=["Date"])
df14["Data"] = np.random.randint(1,101, size=(len(datetime_DF1)))
df14.set_index("Date", inplace=True)
print("Original DataFrame: \n", df14)

# Compute the rolling mean with a window of 7 days.
rolling_mean = df14.rolling(window=7).mean()
print(rolling_mean)

Original DataFrame:
             Data
Date
2021-01-01    90
2021-01-02    78
2021-01-03    56
2021-01-04    18
2021-01-05    78
...          ...
2021-12-27    55
2021-12-28    30
2021-12-29    54
2021-12-30    49
2021-12-31    58

[365 rows x 1 columns]
                 Data
Date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  37.428571
2021-12-28  37.000000
2021-12-29  35.857143
2021-12-30  36.714286
2021-12-31  43.571429

[365 rows x 1 columns]

In [ ]:
## Assignment 7: MultiIndex DataFrame

# 1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). 
# Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [ ]:
# 2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [ ]:
### Assignment 8: Pivot Tables

# 1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [ ]:
# 2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [ ]:
### Assignment 9: Applying Functions

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
# 2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [ ]:

### Assignment 10: Working with Text Data

# 1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
# 2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.